body {
  padding: 0;
  margin: 0
}

.dark-theme {
  background-color: #222;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #000;
}

.unity-mobile #unity-canvas {
   width: 100%; 
   height: 100% 
}

#unity-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#unity-canvas {
  border-style: double;
  border-width: thick;
  border-color: {{{ BORDER_COLOR || '#a9a9a9' }}}
}

#unity-container.unity-desktop {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

#unity-container.unity-mobile {
  width: 100%;
  height: 100%
}

.loader{
  border: 8px solid #a9a9a9;
  border-top: 8px solid #1EAED3;
  border-radius: 60%;
  width: 30px;
  height: 30px;
  animation: spin 0.5s linear infinite;
}

#loader-wrapper{
  margin: auto;
  width: 20%;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-self: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#unity-container canvas[data-pixel-art="true"] {
  position: absolute;
  image-rendering: optimizeSpeed;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
  image-rendering: pixelated;
  -ms-interpolation-mode: nearest-neighbor;
}

#unity-loading-bar {
  position: absolute;
  display: none;
}

#unity-footer[hide-footer="false"] {
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 114px;
  border-style: double;
  border-width: thick;
  border-color: {{{ BORDER_COLOR || '#a9a9a9' }}}
}

#unity-footer[hide-footer="true"] {
  display: none;
}

.unity-mobile #unity-footer {
   display: none 
}

#unity-theme-button,
#unity-quit-button,
#unity-fullscreen-button {
  width: 35px;
  height: 35px;
  /* margin-right: 10px; */
  transition: opacity 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}

#unity-theme-button:hover,
#unity-quit-button:hover,
#unity-fullscreen-button:hover {
  opacity: 0.7;
}

#unity-theme-button {
  background: url('theme-button.png') no-repeat center;
}

#unity-fullscreen-button {
  background: url('fullscreen-button.png') no-repeat center;
}

#unity-quit-button {
  background: url('quit-button.png') no-repeat center;
}

#unity-warning {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%);
  background: gray;
  padding: 10px;
  display: none;
  border-style: double;
  border-width: thick;
  border-color: {{{ BORDER_COLOR || '#a9a9a9' }}}
}